@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

.bg-ini {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgb(160, 226, 235);
  background: linear-gradient(
    90deg,
    rgba(160, 226, 235, 1) 0%,
    rgba(235, 201, 240, 1) 100%
  );
  filter: blur(5px);
  z-index: 0;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content {
  margin-top: 150px;
  z-index: 20;

  background-color: white;
  filter: blur(1px);
  border-radius: 20px;
  opacity: 50%;
  width: 540px;
  height: 492px;
}

.boy {
  position: absolute;
  margin-left: 298px;
  margin-top: 60px;
  transform: rotate(-26.48);
  animation: go-back 3s infinite;
}

.circle {
  position: absolute;
  margin-left: -298px;
  margin-top: -140px;
  animation: cicle 3s infinite;
}

.laptop {
  position: absolute;
  margin-left: -298px;
  margin-top: 250px;
  z-index: 50;
  animation: laptop 3s infinite;
}

.title {
  margin-top: -230px;
  position: absolute;
  font-family: "Quicksand", sans-serif;
  color: black;
  font-size: 36px;
  font-weight: bold;
  z-index: 50;
}
.subtitle {
  margin-top: -80px;
  margin-left: -100px;
  position: absolute;
  font-family: "Quicksand", sans-serif;
  color: black;
  font-size: 24px;
  font-weight: normal;
  z-index: 50;
}

.label-email {
  position: absolute;
  font-family: "Quicksand", sans-serif;
  color: black;
  font-size: 15px;
  font-weight: normal;
  margin-top: 40px;
  margin-left: -450px;

  z-index: 50;
}

.input-email {
  position: absolute;
  width: 356px;
  height: 41px;
  border-radius: 10px;
  margin-top: 70px;
  margin-left: -460px;
  padding-left: 10px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.39);
  border-color: rgba(0, 0, 0, 0.13);

  font-family: "Quicksand", sans-serif;

  z-index: 50;
}

.label-password {
  position: absolute;
  font-family: "Quicksand", sans-serif;
  color: black;
  font-size: 15px;
  font-weight: normal;
  margin-top: 123px;
  margin-left: -450px;

  z-index: 50;
}

.input-password {
  position: absolute;
  width: 356px;
  height: 41px;
  border-radius: 10px;
  margin-top: 150px;
  margin-left: -460px;
  padding-left: 10px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.39);
  border-color: rgba(0, 0, 0, 0.13);

  font-family: "Quicksand", sans-serif;

  z-index: 50;
}

.remember-text {
  position: absolute;

  margin-left: -430px;
  margin-top: 200px;

  font-family: "Quicksand", sans-serif;
  font-weight: normal;

  z-index: 40;
}

.remember-box {
  position: absolute;

  margin-left: -450px;
  margin-top: 205px;

  z-index: 40;
}

.btn-login {
  position: absolute;

  width: 115px;
  height: 41px;
  border-radius: 10px;
  background-color: #a0ebb5;
  border: none;

  margin-left: -205px;
  margin-top: 245px;

  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: normal;
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  z-index: 40;
}

.forgot {
  position: absolute;

  margin-left: -245px;
  margin-top: 200px;

  font-family: "Quicksand", sans-serif;
  color: #54b770;
  text-decoration: underline;

  z-index: 40;
}
@keyframes go-back {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes laptop {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes cicle {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}
